
.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.headerProduct {
    color: green;
    padding-left: 10px;
    padding-top: 10px;
}

.headerCart {
    color: green;
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid gray;
    width: 214px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
}


.bookImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bookImage {
    width: 100px;
    height: 100px;
}

.productBox {
    width: 800px;
    border: 1px solid gray;
    border-radius: 35px;
}

.bookName {
    width: 300px;
}

.numberBuying {
    /*border: 2px solid black;*/
    /*border-radius: 20px;*/
    border: none;
    width: 40px;

}

.p__buying {
    margin: 0;
    align-self: center;
    padding-right: 20px;
    font-weight: bold;
}

.btnPlus {
    margin-left: 2px;
}

.trashIcon {
    color: #c02026;
    font-weight: bold;
    border-radius: 20px;
    /*background-color: #c02026;*/
}

.quantityProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20px;
    border: 2px dashed gray;
    border-radius: 30px;
}

.quantityBook {
    width: 30px;
}

.money {

}

.quantity {
    text-align: center;
}


.briefOder {
    width: 350px;
    border: 1px solid gray;
    margin-left: 20px;
    align-self: flex-start;
    border-radius: 30px;
}

.headerOrder {
    background-color: green;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    border-radius: 30px;

}

.row {
    display: flex;
    justify-content: space-between;
}

.rowProduct {
    display: flex;
}

.colProduct {
    width: 200px;
    padding-left: 20px;
}

.colJS {
    text-align: end;
    padding-right: 10px;
}

.quantityProductNum {
    text-align: center;
}


.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p__Total {
    padding-left: 20px;
}

.moneyTotal {
    padding-right: 10px;

}

.containerBtn {
    margin-top: 50px;
    text-align: center;
}

.back {
    border-radius: 10px;
}

.pay {
    background-color: rgb(172, 172, 41);
    border-radius: 10px;

}