:root {
    --tooltip-bg: #f3f3f3;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f5f7;
}

.container-top-banner {
    background-color: #f3f3f3;
}

.top-banner {
    color: #66645c;
    font-size: small;
}

.top-banner__ship {
    border-right: 2px solid #66645c;
}

.fa-shopping-cart, .fa-user, .fa-stream {
    font-size: 1.5em;
}

.navbar {
    height: 75px;
    background-color: white;
}

.navbar-brand {
    margin-left: -15px;
}

.banner-info, .footer-head {
    background-color: #087b39;
    color: white;
}

.main-banner {
    display: grid;
    grid-template-columns: repeat(4, 324px);
    grid-template-rows: repeat(2, 227px);
    gap: 4px;
}

.books-category {
    font-size: 14px;
}

.books-category {
    grid-row: span 2;
    grid-column: 1;
}

.big-banner {
    margin-left: 2px;
    grid-column: 2 / span 2;
    grid-row: span 2;
}

.right-top-banner {
    grid-column: 4;
    grid-row: 1;
}

.right-bottom-banner {
    grid-column: 4;
    grid-row: 2;
}

.book-card {
    width: 300px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
}

.book-card-container {
    padding: 10px;
}

.card-main-content {
    display: flex;
    column-gap: 10px;
    border-bottom: 1px dashed #848282;
    padding-bottom: 20px;
}

.book-name {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
}

.book-author {
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #848282;
    color: #848282;
}

.card-price {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}


.price {
    display: flex;
    column-gap: 20px;
}

.price-after {
    color: #c02026;
    font-size: 14px;
    font-weight: bold;
}

.book-card {
    width: 310px;
    background-color: white;
    margin: 20px auto;
    border-radius: 5px;

}

.book-card-container {
    padding: 10px;
}

.card-main-content {
    display: flex;
    column-gap: 10px;
    border-bottom: 1px dashed #9e9c9c;
    padding-bottom: 20px;
}

.card-descript {
    font-size: 13px;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
}

.price-origin {
    color: #767676;
    text-decoration: line-through;
}

.hide{
    visibility: hidden;
}

.card-img {
    margin-top: -20px;
    width: 106px;
    height: 160px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
}

.book-specific {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.category-name {
    font-size: 18px;
    font-weight: bold;
}

.view-category-detail {
    font-size: 14px;
}

.dropcategory{
    background-color: #087b39;
    outline: none;
    border: none;
    color: white;
}

.logo{
    width: 190px;
    height: 80px;
    margin-left: -30px;
}

.search-title{
    color: #087b39;
    font-size: 18px;
    border-bottom: 1px #087b3a83 dashed;
}

.page-nav{
    margin-left: auto;
    font-size: 14px;
}

.container-pagenav{
    border-top: 1px dashed #087b3a83;
    height: 50px;
}

.page-item{
    margin-right: 10px;
}

.category-list {
    font-size: 14px;
    width: 324px;
    height: 458px;
    position: absolute;
    z-index: 999;
}
