.containerPayment {
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}

.picProduct img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.picProduct {
    width: 50px;
    align-items: center;
    padding-left: 10px;
}

.titlePay {
    font-size: 24pt;
    width: 250px;
    border: 3px solid gray;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    color: green;
    margin-top: 20px;
}

.topicAddress {
    display: flex;
    justify-content: space-between;
}

.Address {
    color: green;
}

.addNewAddress {
    border-radius: 30px;
    height: 30px;
    margin: auto 0;
}

.detailAddress {
    display: flex;
    background-color: #bebebe;
    margin-bottom: 20px;
    border-radius: 25px;
    justify-content: center;
    padding-top: 10px;
}

.nameCustomer {
    margin-right: 70px;
    margin-bottom: 0;
}

.customerAddress {
    text-align: left;
}

.boxProduct {
    border: 3px dashed gray;
    background-color: wheat;
    border-radius: 20px;
    margin-bottom: 15px;
}

.tableProduct {
    width: 100%;
    text-align: left;
}

.tableProduct td {
    vertical-align:middle;

}

.nameProduct {
    /* text-align: center; */
    margin: auto 0;
}

.fullProduct {
    display: flex;
}

.boxPayment {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.tablePayment {
    width: 100%;
    text-align: center;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 20px;
    line-height: 2;

}

.methodPayment {
    background-color: whitesmoke;
    text-align: center;

}

.btnOrder {
    margin: 20px 0;
    font-size: 18pt;
    background-color: green;
    color: aliceblue;
    border-radius: 25px;
}

.orange {
    color: orange;
    border-radius: 30px;
    margin-right: 10px;
}