.productBuyList {
    display: flex;
}

.padding {
    padding: 20px;
}

.hello {
    margin-left: 50px;
}

.name {
    font-weight: bold;
}

.btnLogout {
    float: right;
}

.registerHeader {
    font-size: 24pt;
    width: 340px;
    border: 3px solid gray;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    color: green;
    margin-top: 20px;
}

.edit {
    font-size: 16pt;
}

.tableBook {
    background-color: wheat;
    border-radius: 20px;
}