.registerHeader {
    text-align: center;
}

.labelProvince {
    margin: 0;
    margin-top: 10px;
}

.provinceOption {
    width: auto;
    display: flex;
    margin-bottom: 10px;
}

.space {
    margin: 0 5px;
}

.auth-form {
    border: 3px solid gray;
    border-radius: 20px;
}

.registerBtn {
    /*display: flex;*/
    /*margin: 0 auto;*/
    align-self: center;
    justify-self: center;
    margin-left: 40%;
}

.txt_red {
    color: #c02026;
    font-style: italic;
}